<h2> Editar Vaga </h2>
<section>
<%= form_for @job do |f| %>
	<div>
		<%=f.label :title,  'Título' %>
		<%=f.text_field :title %>
	</div>
	<div>
		<%=f.label :location,  'Local' %>
		<%=f.text_field :location %>
	</div>
	<div>
		<%=f.label :category_id,  'Categoria' %>
		<%=f.collection_select(:category_id, @categories, 
			:id, :name) %>
	</div>	
	<div>
		<%=f.label :company_id,  'Empresa' %>
		<%=f.collection_select(:company_id, @companies, :id, :name) %>
	</div>	
	<div>
		<%=f.label :description,  'Descrição' %>
		<%=f.text_field :description %>
	</div>
	<div>
		<%=f.label :featured,  'Destaque' %>
		<%=f.check_box :featured %>
	</div>
	<%=f.submit 'Atualizar Vaga'%>
<% end %>
</section>

