<section>
<%= form_for @job do |f| %>
	<div>
		<%=f.label :title,  'Título' %>
		<%=f.text_field :title %>
	</div>
	<div>
		<%=f.label :location,  'Local' %>
		<%=f.text_field :location %>
	</div>
	<div>
		<%=f.label :category,  'Categoria' %>
		<%=f.text_field :category %>
	</div>	
	<div>
		<%=f.label :company,  'Empresa' %>
		<%=f.text_field :company %>
	</div>	
	<div>
		<%=f.label :description,  'Descrição' %>
		<%=f.text_field :description %>
	</div>
	<%=f.submit 'Criar Vaga'%>
<% end %>
</section>