<section>
	<%= form_for @company do |f| %>
  	<div>
  		<%= f.label :name, 'Nome'%>
  		<%= f.text_field :name %>
  	</div>
  	<div>
  		<%= f.label :location, 'Local' %>
  		<%= f.text_field :location %>
  	</div>
  	<div>
  		<%= f.label :mail, 'Email' %>
  		<%= f.text_field :mail %>
  	</div>
  	<div>
  		<%= f.label :phone, 'Telefone' %>
  		<%= f.text_field :phone %>
  	</div>
  	<%= f.submit 'Criar Empresa' %>
	<% end %>
</section>